@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  color: #fff; }

a:hover {
  text-decoration: none; }
  a:hover.yellow {
    color: #feb960; }

.merri {
  font-family: 'Merriweather', serif; }

.header {
  background: url(../images/bg-top.jpg) 50% 50%;
  background-size: cover;
  position: relative; }
  .header:before {
    content: '';
    margin: auto;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(30, 30, 30, 0.9); }

.header-main-h1 {
  border: 1px solid #5a5a5a;
  margin: 274px auto 0;
  width: 95%;
  max-width: 750px;
  font-weight: 400;
  font-size: 55px;
  line-height: 90px;
  position: relative; }
  @media (min-width: 992px) {
    .header-main-h1 {
      padding: 40px 40px 53px; } }
  @media (max-width: 991px) {
    .header-main-h1 {
      padding: 20px 15px; } }

.yellow {
  color: #feb960; }

.main-nav {
  margin-top: 28px;
  position: relative; }
  .main-nav li {
    padding: 0; }
    .main-nav li + li:before {
      content: '';
      display: inline-block;
      background-color: #feb960;
      width: 2px;
      height: 13px;
      margin: 5px 10px 0;
      vertical-align: top; }
    .main-nav li a {
      color: #fff;
      font-size: 13px;
      letter-spacing: -0.06em;
      text-transform: uppercase; }

.footer-link-block {
  position: relative;
  margin-top: 200px;
  font-size: 22px; }

.header-bottom-links {
  margin-top: 79px;
  margin-bottom: 33px;
  position: relative; }
  .header-bottom-links .f-link {
    text-align: center;
    display: inline-block;
    line-height: 40px;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 2px solid #feb960;
    font-size: 24px; }
    .header-bottom-links .f-link:before {
      content: 'F'; }

.header-bottom-links-block {
  height: 60px; }
  .header-bottom-links-block.text-left:after {
    content: '';
    width: 0;
    min-height: 100%;
    display: inline-block;
    vertical-align: middle; }
  .header-bottom-links-block.text-right:before {
    content: '';
    width: 0;
    min-height: 100%;
    display: inline-block;
    vertical-align: middle; }
  .header-bottom-links-block a {
    display: inline-block;
    vertical-align: middle; }

.link-out {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.05em; }
  .link-out:hover {
    color: #fff; }
  .link-out:after {
    font-family: 'FontAwesome';
    color: #feb960;
    content: "\f178";
    display: inline-block;
    margin-left: 5px; }

.main-section:nth-of-type(odd) {
  background-color: #202020; }

.main-section:nth-of-type(even) {
  background-color: #181818; }

.main-section-heading {
  margin-top: 0;
  padding-top: 0;
  position: relative;
  text-transform: uppercase;
  color: #feb960;
  font-size: 14px;
  letter-spacing: -0.06em; }
  .main-section-heading:before {
    content: '';
    display: block;
    background-color: #feb960;
    margin: 0 auto 23px;
    width: 2px;
    height: 125px; }

.main-section-aside {
  font-size: 40px;
  margin: 25px auto 0;
  max-width: 730px;
  line-height: 64px;
  letter-spacing: -0.005em; }

.section-services-content {
  margin-top: 107px; }

@media (min-width: 1200px) {
  .services-content-section {
    padding: 0 75px 147px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .services-content-section {
    padding: 0 40px 60px; } }

.services-content-section h3 {
  margin-top: 31px;
  font-size: 31px;
  letter-spacing: -0.014em; }

.services-content-section p {
  margin-top: 17px;
  line-height: 27px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 2px;
  margin-bottom: 23px; }

.section-projects .container {
  padding-top: 150px; }

.section-projects .main-section-heading {
  position: absolute;
  z-index: 400; }
  .section-projects .main-section-heading:before {
    margin-left: 0; }

.project-slider {
  padding-bottom: 200px; }
  .project-slider .item-inside {
    height: 600px;
    position: relative; }
    .project-slider .item-inside h4 {
      position: absolute;
      left: 0;
      top: 172px;
      font-size: 60px;
      letter-spacing: -0.03em;
      font-weight: 400; }
    .project-slider .item-inside .project-image-wrapper {
      max-width: 800px;
      margin: 0 auto;
      background-size: cover;
      background-position: 50% 50%;
      height: 100%; }
      .project-slider .item-inside .project-image-wrapper.proj1 {
        background-image: url(../images/slider/proj1.jpg); }
      .project-slider .item-inside .project-image-wrapper.proj2 {
        background-image: url(../images/slider/proj2.jpg); }
      .project-slider .item-inside .project-image-wrapper.proj3 {
        background-image: url(../images/slider/proj3.jpg); }
      .project-slider .item-inside .project-image-wrapper.proj4 {
        background-image: url(../images/slider/proj4.jpg); }
      .project-slider .item-inside .project-image-wrapper.proj5 {
        background-image: url(../images/slider/proj5.jpg); }
  .project-slider .carousel-indicators {
    bottom: 137px; }

.custom-slider .carousel-indicators li {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  width: 25px;
  height: 3px;
  margin: 0 24px;
  background-color: #5d5d5d;
  border: none;
  transition: background-color ease .4s;
  -webkit-transition: background-color ease .4s;
  -moz-transition: background-color ease .4s; }
  .custom-slider .carousel-indicators li.active {
    background-color: #feb960; }

.project-links {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 145px; }
  .project-links a {
    display: block;
    margin-top: 12px; }
  .project-links:after {
    content: '';
    height: 126px;
    display: block;
    width: 2px;
    background-color: #feb960;
    margin-top: 20px; }

.partners-block {
  height: 100px;
  margin: 79px auto; }
  .partners-block img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    max-height: 100%; }

.testimonials-slider {
  padding-bottom: 150px; }
  .testimonials-slider .carousel-indicators {
    bottom: 111px; }

.testimonial-item-inside {
  background-color: #181818;
  min-height: 400px;
  max-width: 750px;
  width: 95%;
  margin: 0 auto; }
  .testimonial-item-inside img {
    max-width: 80px; }
  .testimonial-item-inside p {
    margin: 33px auto 0;
    font-size: 16px;
    max-width: 650px;
    line-height: 36px; }

.partner-name {
  color: #feb960;
  text-transform: uppercase;
  position: relative;
  background-color: inherit;
  max-width: 555px;
  margin: 42px auto 0; }
  .partner-name:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 12px;
    margin: auto;
    height: 1px;
    width: 100%;
    background-color: #464646;
    left: 0; }
  .partner-name span {
    position: relative;
    display: inline-block;
    padding: 0 43px;
    background-color: inherit; }

.partner-address {
  margin-top: 9px;
  letter-spacing: -0.03em; }
