@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
  color: #fff;
}

a {
  &:hover {
    text-decoration: none;
    &.yellow {
      color: $yellow;
    }
  }
}

.merri {
  font-family: 'Merriweather', serif;
}

.header {
  background: url(../images/bg-top.jpg) 50% 50%;
  background-size: cover;
  position: relative;
  &:before {
    content: '';
    @include cover;
    background-color: rgba(30, 30, 30, .9);
  }
}

.header-main-h1 {
  border: 1px solid #5a5a5a;
  margin: 274px auto 0;
  width: 95%;
  max-width: 750px;
  font-weight: 400;
  font-size: 55px;
  line-height: 90px;
  position: relative;
  @include respond-to(more-tablet) {
    padding: 40px 40px 53px;
  }
  @include respond-to(less-tablet) {
    padding: 20px 15px;
  }
}

.yellow {
  color: $yellow;
}

.main-nav {
  margin-top: 28px;
  position: relative;
  li {
    padding: 0;
    + li {
      &:before {
        content: '';
        display: inline-block;
        background-color: $yellow;
        width: 2px;
        height: 13px;
        margin: 5px 10px 0;
        vertical-align: top;
      }
    }
    a {
      color: #fff;
      font-size: 13px;
      letter-spacing: -0.06em;
      text-transform: uppercase;
    }
  }
}

.footer-link-block {
  position: relative;
  margin-top: 200px;
  font-size: 22px;
}

.header-bottom-links {
  margin-top: 79px;
  margin-bottom: 33px;
  position: relative;
  .f-link {
    text-align: center;
    display: inline-block;
    line-height: 40px;
    height: 46px;
    width: 46px;
    @include border-radius(50%);
    border: 2px solid $yellow;
    font-size: 24px;
    &:before {
      content: 'F';
    }
  }
}

.header-bottom-links-block {
  height: 60px;
  &.text-left {
    &:after {
      content: '';
      width: 0;
      min-height: 100%;
      @include vam;
    }
  }
  &.text-right {
    &:before {
      content: '';
      width: 0;
      min-height: 100%;
      @include vam;
    }
  }
  a {
    @include vam;
  }
}

.link-out {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.05em;
  &:hover {
    color: #fff;
  }
  &:after {
    font-family: 'FontAwesome';
    color: $yellow;
    content: "\f178";
    display: inline-block;
    margin-left: 5px;
  }
}

.main-section {
  &:nth-of-type(odd) {
    background-color: #202020;
  }
  &:nth-of-type(even) {
    background-color: #181818;
  }
}

.main-section-heading {
  margin-top: 0;
  padding-top: 0;
  position: relative;
  text-transform: uppercase;
  color: $yellow;
  font-size: 14px;
  letter-spacing: -0.06em;
  &:before {
    content: '';
    display: block;
    background-color: $yellow;
    margin: 0 auto 23px;
    width: 2px;
    height: 125px;
  }
}

.main-section-aside {
  font-size: 40px;
  margin: 25px auto 0;
  max-width: 730px;
  line-height: 64px;
  letter-spacing: -0.005em;
}

.section-services-content {
  margin-top: 107px;
}

.services-content-section {
  @include respond-to(more-desktop) {
    padding: 0 75px 147px;
  }
  @include respond-to(tablet) {
    padding: 0 40px 60px;
  }
  h3 {
    margin-top: 31px;
    font-size: 31px;
    letter-spacing: -0.014em;
  }
  p {
    margin-top: 17px;
    line-height: 27px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 2px;
    margin-bottom: 23px;
  }
}

.section-projects {
  .container {
    padding-top: 150px;
  }
  .main-section-heading {
    position: absolute;
    z-index: 400;
    &:before {
      margin-left: 0;
    }
  }
}

.project-slider {
  padding-bottom: 200px;
  .item-inside {
    height: 600px;
    position: relative;
    h4 {
      position: absolute;
      left: 0;
      top: 172px;
      font-size: 60px;
      letter-spacing: -0.03em;
      font-weight: 400;
    }
    .project-image-wrapper {
      max-width: 800px;
      margin: 0 auto;
      background-size: cover;
      background-position: 50% 50%;
      height: 100%;
      &.proj1 {
        background-image: url(../images/slider/proj1.jpg);
      }
      &.proj2 {
        background-image: url(../images/slider/proj2.jpg);
      }
      &.proj3 {
        background-image: url(../images/slider/proj3.jpg);
      }
      &.proj4 {
        background-image: url(../images/slider/proj4.jpg);
      }
      &.proj5 {
        background-image: url(../images/slider/proj5.jpg);
      }
    }
  }
  .carousel-indicators {
    bottom: 137px;
  }
}
.custom-slider {
  .carousel-indicators {
    li {
      @include border-radius(0);
      width: 25px;
      height: 3px;
      margin: 0 24px;
      background-color: #5d5d5d;
      border: none;
      @include transition('background-color ease .4s');
      &.active {
        background-color: $yellow;
      }
    }
  }
}
.project-links {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 145px;
  a {
    display: block;
    margin-top: 12px;
  }
  &:after {
    content:'';
    height: 126px;
    display: block;
    width: 2px;
    background-color: $yellow;
    margin-top: 20px;
  }
}
.partners-block {
  height: 100px;
  margin: 79px auto;
  img {
    @include vam;
    margin: 0 20px;
    max-height: 100%;
  }
}
.testimonials-slider {
  padding-bottom: 150px;
  .carousel-indicators {
    bottom: 111px;
  }
}
.testimonial-item-inside {
  background-color: #181818;
  min-height: 400px;
  max-width: 750px;
  width: 95%;
  margin: 0 auto;
  img {
    max-width: 80px;
  }
  p {
    margin: 33px auto 0;
    font-size: 16px;
    max-width: 650px;
    line-height: 36px;
  }
}
.partner-name {
  color: $yellow;
  text-transform: uppercase;
  position: relative;
  background-color: inherit;
  max-width: 555px;
  margin: 42px auto 0;
  &:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 12px;
    margin: auto;
    height: 1px;
    width: 100%;
    background-color: #464646;
    left: 0;
  }
  span {
    position: relative;
    display: inline-block;
    padding: 0 43px;
    background-color: inherit;
  }
}
.partner-address {
  margin-top: 9px;
  letter-spacing: -0.03em;
}